.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.DS_Store

# Ignore example variables files
*.tfvars.example

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore editor and IDE directories/files
.vscode/
.idea/
.history/
*.swp

